.title {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  clear: right;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

select {
  font-family: sans-serif;
  font-size: 1.2em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #000;
  stroke-width: 1.5px;
}

text {
  font-size: 10px;
}